//React Modal Overrides
.ReactModal__Overlay {
  background-color: rgba(0,0,0,0.6) !important;
}
.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  border: none !important;
  background-color: white !important;
}
